<jumbotron-directive></jumbotron-directive>
<div class="col-xs-8">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a tortor vitae enim congue blandit.
        Sed sollicitudin magna non justo tempus, ut placerat purus ultricies. In posuere urna a dolor posuere,
        quis condimentum felis scelerisque. Proin faucibus odio in mi porttitor aliquet. Duis diam ante, sodales vel est ac,
        convallis ullamcorper erat. Mauris lacinia luctus lorem, vitae maximus nisl suscipit id. Fusce convallis nibh nibh,
        eu ullamcorper quam pellentesque ac.
    </p>
    <p>
        Fusce luctus, justo ut egestas feugiat, neque lorem finibus urna, a vestibulum neque enim vitae odio.
        Phasellus vitae gravida nibh. Vivamus non ante dignissim, efficitur mi molestie, egestas leo. Sed rhoncus finibus
        neque, non vestibulum ex tincidunt vel. Aliquam erat volutpat. Vestibulum malesuada lacus ante, et volutpat magna
        commodo et. Nunc ullamcorper nunc in urna hendrerit, nec pharetra mauris viverra. Nunc iaculis sem ac erat varius aliquet.
        Fusce non leo ultrices, tincidunt arcu nec, commodo nibh. Proin vel ipsum placerat, commodo turpis id, rutrum neque.
        Curabitur volutpat lacus non tellus fermentum iaculis
    </p>
    <p class="hidden">
        Donec fermentum augue vel nisl pulvinar maximus et sed ex. Maecenas ullamcorper diam quis faucibus feugiat. Donec
        commodo, mauris id pellentesque condimentum, turpis ligula feugiat est, quis sagittis erat enim id risus. Sed a dui vulputate,
        feugiat ligula ut, pellentesque ex. Aliquam a diam orci. Nunc blandit tempor diam eu lacinia. Sed eleifend mauris non neque mattis
        scelerisque. Quisque vel pharetra neque. Vestibulum mi massa, rutrum et elementum eget, congue vel tellus. Cras orci diam, malesuada
        interdum risus quis, cursus tristique libero. Vivamus blandit quam neque, id tempus elit pulvinar sed. Vestibulum bibendum arcu nec nunc
        mollis cursus. Nam ac cursus erat. Aenean diam turpis, tempor id purus eu, malesuada lacinia eros. Vivamus sem est, eleifend eu hendrerit
        ac, pellentesque sit amet erat. Etiam lacinia ultrices quam a faucibus.
        Mauris semper odio quis dictum lacinia. Nulla ultrices sodales quam eget pellentesque. Aliquam vehicula at sem vel suscipit.
        Nulla massa justo, gravida nec tortor at, accumsan tincidunt massa. Nulla nec neque enim. Maecenas eu mauris tellus.
        Maecenas volutpat felis orci, et bibendum lorem pellentesque vitae. Quisque ultrices interdum dui, in ultricies magna
        fermentum ac. Proin dignissim libero non condimentum congue. Morbi tellus libero, ultricies consectetur nunc sagittis,
        volutpat mollis urna. Phasellus sed diam eget dui mattis elementum non ac sem. Vivamus sit amet ante vel dolor euismod
        lobortis et non elit. Morbi tristique sollicitudin orci, et dictum orci vulputate quis.
        Nulla sagittis neque nec aliquet volutpat. Sed massa mauris, consectetur a hendrerit at, maximus quis elit. In tempus
        fermentum felis vel porta. Donec consequat, mi id lobortis imperdiet, justo mauris tincidunt nisl, rutrum aliquet ante
        tortor nec sapien. Duis gravida nibh id luctus sollicitudin. Aenean nec suscipit velit. Cum sociis natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus. Donec nulla magna, congue vel nisl vel, aliquet rhoncus lacus.
        Ut pretium, sem sit amet consequat placerat, odio ipsum condimentum justo, et luctus orci orci a purus.
    </p>
</div>